valid list clarification when controlled agent updates nominated flag (EDITORIAL)

Section 7.2.1.5 of RFC 5245 says:

"If the state of this pair is Succeeded, it means that the check
generated by this pair produced a successful response.  This would
have caused the agent to construct a valid pair when that success
response was received (see Section 7.1.3.2.2).  The agent now sets
the nominated flag in the valid pair to true."

In section 7.3.1.5 of 5245bis-16, the last sentence only says:

"The agent sets the nominated flag value of the pair to true."

ISSUE: It could be misunderstood which pair the text refers to.

SUGGESTION: s/pair/valid pair

Has been fixed in:

https://github.com/ice-wg/rfc5245bis/pull/57