Fix rules that disallow "passive aggressive" nomination

Going through the minutes, it seems there was working group consensus to allow "passive aggressive" nomination, defined as regular nomination with the ability to send media before a pair is nominated.

However, section 9.1.1 contradicts this:

>   The selected pair for a component of a media stream is:
> 
>   o  empty if the state of the check list for that media stream is
>      Running, and there is no previous selected pair for that component
>      due to an ICE restart
> 
>   o  equal to the previous selected pair for a component of a media
>      stream if the state of the check list for that media stream is
>      Running, and there was a previous selected pair for that component
>      due to an ICE restart
> 
>   o  equal to the highest-priority nominated pair for that component in
>      the valid list if the state of the check list is Completed
> 
>   If the selected pair for at least one component of a media stream is
>   empty, an agent MUST NOT send media for any component of that media
>   stream.  If the selected pair for each component of a media stream

Also, the examples in section 12:

> ... Since there is
> a selected candidate in the Valid list for the one component of this
> media stream, ICE processing for this stream moves into the Completed
> state. Agent L can now send media if it so chooses.


There are a number of places in the text that should have been updated to allow passive-aggressive nomination that were instead left as is.  Looking through the text there are issues in Section 2.6 (which says "ICE will now send media using this pair"), Section 3 (which defines "selected pair" as "The candidate pair selected by ICE for sending and receiving media"), Section 6.2.3.1 (which still mentions aggressive nomination!) and Section 9.1.1. 

IMHO, the text in Section 9.1.1 should be updated.   A potential rewrite might look like this: 

"9.1.1.  Procedures for Full Implementations

   A full implementation MUST NOT send media until it has a Valid list
   that contains a candidate pair for each component of that media
   stream.  Once that happens, the agent MAY begin sending media
   packets.

   An agent will send media to the remote candidate (setting the 
   destination address and port of the packet equal to that remote candidate), 
   and will send it from the local candidate.  When the local candidate is
   server or peer reflexive, media is originated from the base.  Media
   sent from a relayed candidate is sent from the base through that TURN
   server, using procedures defined in [RFC5766].

   If the local candidate is a relayed candidate, it is RECOMMENDED that
   an agent create a channel on the TURN server towards the remote
   candidate.  This is done using the procedures for channel creation as
   defined in Section 11 of [RFC5766]."

It looks to me like the rest of the text from Section 9.1.1 may no longer be needed:

   "The selected pair for a component of a media stream is:

   o  empty if the state of the check list for that media stream is
      Running, and there is no previous selected pair for that component
      due to an ICE restart

   o  equal to the previous selected pair for a component of a media
      stream if the state of the check list for that media stream is
      Running, and there was a previous selected pair for that component
      due to an ICE restart

   o  equal to the highest-priority nominated pair for that component in
      the valid list if the state of the check list is Completed"


Reading through the latest text, I think this issue has been fixed.  Section 9.1.1 is still there, but as Taylor points out, it probably should be.  The rest of the text seems fully "passive aggressive".